/* Full Page Background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom right, #3b82f6, #4f46e5);
  font-family: "Poppins", sans-serif;
}

/* Frosted Glass Box */
.login-box {
  width: 100%;
  max-width: 420px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Titles */
.title {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin-bottom: 30px;
}

/* Input Field Group */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

/* Inputs */
.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;

  color: white;
  background: rgba(255, 255, 255, 0.25);
  transition: 0.3s ease;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.4);
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;

  background: white;
  color: #1d4ed8;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #f1f1f1;
}

.login-btn:active {
  transform: scale(0.97);
}

/* Message */
.message {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.switch-text {
  margin-top: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}

.switch-text span {
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.switch-text span:hover {
  opacity: 0.8
}