/* index.css */

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    padding: 20px;
    margin: auto;
    max-width: 1100px;
  }
  